/* ----------- GENERAL STUFF ----------- */

body {
  font-family: Arial;
    color: #ffffff;
}

h1, label, p {
    color: #ffffff;
}

h1 {
    font-size:20px;
}

form {
    margin-bottom: 0px;
}

.ui-heading {
    font-weight: bold;
}

/* ----------- BOX POSITIONING ----------- */

#headerbox {
    position: absolute;
    visibility: visible;
    left:0;
    right:0;
    top: 0%;
    margin: auto;
    width:100%;
    text-align:center;
}

#contentbox {
    position: absolute; 
    visibility: visible; 
    /* right: 0px; */
    left: 20px; 
    top: 0;
    /* z-index: 200; */
    background-color: rgba(255, 255, 255, 0.10);
    padding: 20px;
}

#footerbox {
    position: absolute;
    visibility: visible;
    right:20px;
    bottom: 2%;
}

.throttleBox , .fuelBox , .stepBox , .massBox , .engineBox , .planetBox , .timeBox {
    background-color: rgba(255, 255, 255, 0.10);
    padding: 10px;
    margin-bottom: 10px;
}

/* ----------- KNOB STYLING ----------- */

.fuelknob {
    position: absolute;
    visibility: visible;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 20px;
    margin: auto;
    width:40%;
}

.fuelknob canvas {
    width: 65px;
    height: 18%;
    float: left; 
    margin: 20px;
}

.fuelknob .dial {
    font-size: 25px !important;
    margin-top: 67px !important;
    margin-left: -80 !important;
}

.fa-play {
  font-family: FontAwesome, Arial, sans-serif;
}