body {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color:#ffffff;
    background-image: url("Welcome-background.jpg");
    background-size: cover;
    background-color: #000000;
}

h1, h2 {
    color:#ffffff;
    font-family: 'Montserrat Light', sans-serif;
}

h2 {
    font-size: 30px;
}

a {
    color:#ffffff;
    text-decoration: none;
}

.logo {
    padding-bottom: 60px;
}

.smallScreenDisclaimer {
    padding-bottom: 20px;
}

.links {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

.impressumLogoDiv {
    text-align:center;
}

.impressum {
    width:633px;
    margin:0 auto;
    padding-bottom:100px;
}

.btn {
    margin-bottom: 5px;
}

.ui-button {
    font-size:18px !important;
}

@media(min-width: 1025px) {
    .smallScreenDisclaimer{
        display:none;
    }
}

@media(max-width: 1024px) {
    .startGameButtonBox {
        display:none;
    }
    
    .ui-button {
    font-size: 28px !important;
    }
    
    .logo, .logoImpressum {
        height: 24%;
    }
    
    .smallScreenDisclaimer {
        font-size: 35px;
    }
    
    body {
        padding-top: 200px;
    }
}
