/* ---------------- COLOURS, FONTS ETC ---------------- */

body {
    font-family: Arial;
    color: #ffffff;
    margin: 0;
}
h1,
label,
p {
    color: #ffffff;
}
h1 {
    font-size: 20px;
}
.fa {
    font: normal normal normal 14px/1 FontAwesome !important;
}
.btn {
    padding-bottom: 5px !important;
}

.logo {
    float:right;
}
/* ---------------- BOX POSITIONING ---------------- */

.menubox {
    position: absolute;
    visibility: visible;
    left: 10%;
    bottom: 5%;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10%;
    display: none;
}
.dashboardBox {
    position: absolute;
    visibility: visible;
    top: 80%;
    left: 60%;
    right: 0;
    z-index: 200;
    background-color: rgba(49, 49, 49, 0.7);
    padding: 10px;
    margin: auto;
    width: 30%;
    height: 15%;
    border-radius: 6px;
    border: 2px solid rgb(255, 140, 0);
}
.displayBox {
    margin-left: 5%;
    margin-top: 5%;
}
.speedBox {
    float: left;
}
#speedLabel {
    margin-left: 49%;
}
#fuelLabel {
    margin-left: 49%;
}
.fuelBox {
    margin-top: 3%;
    margin-left: 2%;
}
.steeringBox {
    width: auto;
    float: left;
    position: absolute;
    z-index: 200;
    right: 5%;
    top: 30%;
}
.throttleBox {
    float: left;
}
.controlBox {
    float: left;
}
.sasBox {
    float: left;
}
/* ---------------- ICON STYLING ---------------- */