
body {
    font-family: 'Roboto', sans-serif;
    /*font-style:thin;*/
    margin: 0;
}

a {
    color:#ffffff;
}

.ui-widget {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.2em !important;
}

.ui-tabs-tab .ui-widget {
    font-size: 1.2em !important;
}

canvas {
    width: 100%;
    height: 100%;
}
#container {
    z-index: -3;
}
}
#ui_container {
    z-index: -2;
    position: absolute;
    bottom: 0px;
}
div#testUI {
    width: 100%;
    height: 10%;
    z-index: 1;
    position: absolute;
    //color: white;
    text-align: center;
}

.activeInterface {
    border: 1px solid #59b4d4 !important;
    background: #0078a3 url(/UserInterface/jquery-ui-1.12.1.custom/images/ui-bg_glass_40_0078a3_1x400.png) 50% 50% repeat-x !important;
    font-weight: bold !important;
    color: #ffffff !important;
}

.ui-widget , .ui-slider-handle {
    outline: none;
}

.menuButton {
    width: 42px;
}

.mainHeading{
    color: rgb(255, 140, 0);
    /*font-size: 17px;*/
}

.metersLabel{
    float:left;
}

